<h1>classification tree</h1>
<ul>
<li>can have numeric w/ boolean data, datatypes can be mixed</li>
<li>can ask for the same data (e.g. time of exercise) multiple times but w/ differen numeric thresholds</li>
<li>same leave can occur multiple times</li>
</ul>
<h2>building a classification tree from a table</h2>
<p>Assume a table w/ 4 cols, with 3 features and the last col is the fact.</p>
<pre><code>Loves Popcorn | Loves Soda | Age | Loves "Cool as ice" movie
  yes               yes       14            yes
  ...
</code></pre>
<ul>
<li>
<p>start with one column, eg popcorn and make a tree</p>
<p>popcorn ---- true ---&gt;  loves movie  yes:1  no:3
           -- false --&gt;  loves movie  yes:2  no:1</p>
</li>
<li>
<p>do the same for other columns</p>
</li>
<li>leaves that have a mixture of yes no are called "impure"</li>
<li>
<p>leaves having only yes or no are called "pure"</p>
</li>
<li>
<p>quantify impurity of leaves</p>
</li>
<li>e.g. "Gini impurity", "Entropy", "information gain", etc.</li>
<li>gini for a leaf = 1 - p(yes)² - p(no)²<ul>
<li>p(yes) = #yes / (#yes + #no)</li>
<li>p(no) similar but w/ #no in denominator</li>
<li>total Gini = weighted avg of leave's impurities</li>
<li>weight = (#yes-in-node + #no-in-node) / #total</li>
<li>gini impurity of numeric data</li>
<li>&lt; is true, &gt; is false</li>
</ul>
</li>
<li>keep going...</li>
<li>put the feature w/ the lowest impurity as the root of the tree</li>
<li>if branches are impure, split by next feature, etc.</li>
<li>assign output values for each leaf<ul>
<li>category w/ the most values</li>
<li>multiple leaves can have the same value</li>
</ul>
</li>
<li>now you can run new data down the tree to make predictions</li>
</ul>