<h1>regression tree</h1>
<ul>
<li>each leave is a numeric value</li>
<li>like a bunch of if/else's or piecewise math. equations</li>
<li>can easily accomodate many predictors (parameters)</li>
<li>good for higher dimensional data</li>
</ul>
<h2>building a regression tree from a table</h2>
<pre><code>dosage | age | sex | etc.. | drug effectiveness
   10     25    F     ...      98
   ...
</code></pre>
<ul>
<li>start w/ 1 parameter</li>
<li>take avg of that parameter</li>
<li>leave asks &gt;avg ?</li>
<li>calc residuals to quantify quality of prediction</li>
<li>(pred - observe)² for every point</li>
<li>we now have added squared residuals</li>
<li>plot sum and squared residuals on graph (x=dosage threshole, y=sum of sq res)</li>
<li>find the threshold that gives smallest sum of squared resudials</li>
<li>do all the above for all other predictors</li>
<li>compare SSRs from all predictors and pick the lowest as root of the tree</li>
</ul>
<p>avoid overfitting</p>
<ul>
<li>eg. split observations in a node only when more than X obs' (X typically 20)</li>
</ul>
<h2>building a regression tree from a scatter plot</h2>
<p><img alt="plot" src="./regression-tree-scatterplot.png" /></p>
<ul>
<li>there are 2 idependent variables (x1 and x2 axis)</li>
<li>and 1 dependent variable in Y axis (for predictions)</li>
<li>an algorithm determines where to split<ul>
<li>uses "information entropy" to do that - means: is a split increasing the amount of information?</li>
<li>stops when below certain amount of points OR can't add any more information.</li>
</ul>
</li>
<li>create binary yes/no tree w/ some terminal leafes from splits</li>
<li>Y = averages of all points in terminal a leaf.</li>
</ul>
<p><img alt="plot" src="./regression-tree.png" /></p>
<h2>pruning regression tree</h2>
<ul>
<li>cost complexity pruning aka weakest link pruning</li>
</ul>