<h1>trees</h1>
<ul>
<li><strong>decision tree</strong></li>
<li>convention: left branch TRUE, right branch FALSE</li>
<li>CART (classification and regression trees)</li>
<li><strong>classification tree</strong> (discrete values) is a decision tree that classifies into categories</li>
<li>
<p><strong>regression tree</strong> (continuous values) is when a decision tree predicts numeric values</p>
</li>
<li>
<p>see also <a href="./ensemble/random-forests.md.html">Random forests</a></p>
</li>
</ul>