<h1>policy iteration</h1>
<ul>
<li>2 functions: V and π  (value and policy)</li>
<li>init them w/ random values</li>
<li>V reflects values of each state w/ current policy</li>
<li>then change policy to a better one</li>
<li>repeat both functions alternating until both reach an optimum</li>
<li>functions collabrorate and compete</li>
<li>"sweeping the state space"</li>
</ul>
<h1>policy improvement</h1>
<ul>
<li>is reward of current policy &gt; reward if action is changed</li>
<li>
<p>q function </p>
<p>qπ(s,a) = E[p(s',r|s,a)*[r+γvπ(s')]]</p>
</li>
<li>
<p>sum of probabilities of arriving at next state after anaction * obtained reward + discounted value</p>
</li>
</ul>
<h2>policy improvement theorem</h2>
<pre><code>  if  qπ(s,π'(s)) &gt; vπ(s)  then   vπ'(s)&gt;=vπ(s)
</code></pre>
<ul>
<li>if q function of π' (pi prime) is better then current policy, π' is better</li>
</ul>