<h1>backpropagation</h1>
<ul>
<li>BackProp is an algorithm</li>
<li>in order to understand it, the following topics need to be understood before</li>
<li>derivatives</li>
<li>chain rule</li>
<li>gradient descent</li>
</ul>
<h2>derivative</h2>
<pre><code>d
---- * f(x)  =  df / dx
dx
</code></pre>
<p>??
How does the fct-output change w/ respect to x.
What does the fct look like, that describes the change of x.
??</p>
<p>It's another function which describes the change of f(x) when x changes.</p>
<h3>chain rule</h3>
<pre><code>( g(f(x)) )' = g'(f(x)) * f'(x)
</code></pre>
<h3>implicit differentiation</h3>
<p>is also the chain rule.</p>
<p>d                                    dy
  ---- f(y(x)) = f'(y) * y'(x) = f'(y) ----
   dx                                   dx</p>
<p>so, y'(x) = dy</p>
<h3>implicit differentiation example</h3>
<pre><code>x⁴ + y⁴ = 12
dy / dx
find dy with respect to dx
</code></pre>
<ul>
<li>derive for d / dx</li>
<li>also derive y, but add "* dy/dx" to the term</li>
<li>then pull dy/dx to the left side of the eq</li>
</ul>
<h3>partial derivative</h3>
<p>simple case - how does the function change, when x changes</p>
<pre><code>f(x)=x²
df/dx(Z)      (Leibnitz notation)
</code></pre>
<p>same thing but for multi variable fct (how does f change when just one var changes)</p>
<pre><code>f(x,y) = x² y + sin(y)
∂f/∂x(1,2)
</code></pre>
<p>Note: ∂ is a stylised cursive d, meaning "partial".</p>
<h2>gradient descent</h2>
<p><a href="./gradient-descent.md.html">See here</a></p>
<h1>...</h1>
<p>How does backprop know the contribution of each output neuron to the global error?</p>