<h1>what is gradient descent</h1>
<ul>
<li>gradient descent is an algorithm for finding a minimum or a maximum of a function.</li>
<li>For some functions we <strong>know a closed form</strong> - e.g. for a polynomial up to the 4th degree.</li>
<li>Finding min/max can be achieved via 2nd derivative.</li>
<li>For some functions we <strong>don't know a closed form</strong> or possibly there isn't one.</li>
<li>Finding a max or a min on a function where we don't have a closed form requires an algorithm.</li>
<li>gradient descent is such an algorithm.</li>
</ul>
<h1>what is a gradient</h1>
<ul>
<li>a slope, a steepness.</li>
<li>it's interesting when it's 0 - meaning a horizontal line</li>
</ul>
<h1>what does descent mean</h1>
<ul>
<li>gradient descent is used to find a minimum of a function.</li>
<li>that min is approached in a stepwise fashion.</li>
<li>it's a very efficient shortcut to brute-forcing a solution</li>
</ul>