<h1>overview</h1>
<pre><code>linear           y = b0 + b1 x1
multiple linear  y = b0 + b1 x1 + b2 x2  ...
polynomial       y = b0 + b1 x  + b2 x²  ...
</code></pre>
<p>b0 = y intercept
b = slope coefficients
x = independent variables</p>
<h1>linear regression (simple)</h1>
<ul>
<li>linear regression</li>
<li>continuous predictions</li>
<li>least squares (sum of squared residuals)<ul>
<li>find the rotation w/ the least sum of squared residuals</li>
<li>y = yIntercept + slope*x</li>
</ul>
</li>
<li>SSR/SSE/SST, R squared = SSR/(SSR+SSE), DF<ul>
<li>SS-regression, SS-error, SS-total</li>
<li>how much of the variation is explained by one or many parameters</li>
<li>eg. variation in mouse size explained by weight / variation in mouse size without taking weight into account</li>
<li>variation around the mean vs variation around the fit</li>
<li>r² = SS(mean) - SS(fit) / SS(mean)</li>
<li>r² is always getting better when adding more parameters, even if parameters make no sense</li>
</ul>
</li>
<li>degrees of freedom<ul>
<li>DOF = n - k - 1</li>
<li>n = #ovservations, k = # x-variables/observations</li>
<li>more k, less DOF, more possible error</li>
<li><strong>adjusted r² = 1 - [(1-R²)((n-1)/(n-k-1))]</strong></li>
<li>takes useless parameters into account</li>
</ul>
</li>
<li>p value<ul>
<li>the more silly parameters are added, the more randomness decreases SS(fit) and makes r² better</li>
<li>p value tells if r² is statistically significant</li>
<li>F = ( [ SSmean - SSfit / (Pfit - Pmean) ] / [ SSfit / (n - Pfit) ] )</li>
<li>variance: p-related numbers are the DOF and turn SS to variances</li>
<li>p is between 0 and 1; good=0.05</li>
<li>getting a small p value when there is actually no difference, is "false positive"</li>
<li>p to reject "null hypothesis"</li>
<li>small p doesn't imply large effect size</li>
<li>calculating</li>
<li>one sided: rarely used</li>
<li>two sided:</li>
</ul>
</li>
</ul>
<h1>multiple linear regression</h1>
<ul>
<li>src:<ul>
<li>https://www.youtube.com/watch?v=nk2CQITm_eo</li>
<li>https://www.youtube.com/watch?v=eYTumjgE2IY</li>
<li>https://en.wikipedia.org/wiki/Polynomial_regression</li>
</ul>
</li>
</ul>
<h2>what is it?</h2>
<p>imagine a table with 1 dependent variable and n features.
finding a model that contains the correlation bewteen every feature to the dependant.</p>
<h2>when to use it?</h2>
<p>anscombe's quartet: dataset with nearly identical descriptive properties, but vastly different graphs.</p>
<p><img alt="" src="./anscombe_quartet.png" /></p>
<ul>
<li>linearity - there is a clear linear relationship between X and Y</li>
<li>no homoscedasticity (equal variance) - variance depends on independent variable, graphically this results in a cone-like shape</li>
<li>no multivariate normality (normality of error distribution) - just one error distribution, not more </li>
<li><img alt="" src="./multivariate-normality.png" /></li>
<li>no autocorrelation (independence) - rows have to be independent, otherwise there's a pattern in the plot (like zigzag etc.)</li>
<li>lack of multicollinearity - predictors are not correlated with each other</li>
<li>outlier check - outlier affects the line we get, consider removing outliers before regression</li>
</ul>
<h2>categorical features</h2>
<p>what to do with categorial variables/features?
See <a href="../../../basics/feature-scaling.md.html#dummy-variables">here</a></p>
<h1>polynomial linear regression</h1>
<p>is called linear, because it refers to the coefficients which we want to find, not to x.</p>