<h1>regularisation</h1>
<p>limiting an algorithms parameter space is called regularisation.</p>
<h1>ridge (L2) regression</h1>
<ul>
<li>usually, least squares minimizes the sum of squared residuals (see also <a href="./linear-regression.md.html#linear-regression-simple">here</a>)</li>
<li>L2 minimizes: sum of squared residuals + lambda * slope²</li>
<li>makes fit a little worse but is supposed to lower variance</li>
<li>find best lambda via cross validation (best lambda is where variance is lowest)</li>
<li>works for continuous and discrete values</li>
<li>used with small sample sizes or when there are more parameters than data-points</li>
</ul>
<h1>lasso(L1) regression</h1>
<ul>
<li>very similar to L2 but uses the absolute of the slope: lambda * |slope|</li>
<li>can shrink the slope to 0 (ridge can shrink it to close to 0, but never 0 itself)</li>
</ul>