<h1>dimensionality reduction</h1>
<ul>
<li>project from higher space onto a hyperplane in lower space</li>
<li>The Swiss Roll dataset contains 1600 observed datapoints in 3 dimensions.</li>
<li>The dataset is often used as a test case for dimensionality reduction techniques, such as autoencoders and t-SNE.</li>
</ul>
<p><strong>is dim reduction clustering?</strong></p>
<p>Dimensionality reduction aims to reduce the number of features in a dataset while preserving the underlying structure, whereas clustering aims to group similar data points into clusters.</p>
<p><strong>two ways</strong></p>
<ul>
<li>Selecting from the existing features (feature selection)</li>
<li>Extracting new features by combining the existing features (feature extraction)</li>
</ul>
<h2>Principal Component Analysis (PCA)</h2>
<ul>
<li>finding similarities between features/dimensions/table-columns</li>
<li>imagine a table w/ n cols</li>
<li>compare each col w/ every other col and make a chart for each (ending up in lots of charts)</li>
<li>make an n-dimensional chart (with an axis for each col)</li>
<li>both options are unpractical at best and impossible at worst</li>
<li>solution: PCA Plot converts the correlations (or lack thereof) of all table cells on a 2D graph</li>
<li>PC1 (x axis) has highter importance than PC2 (y axis)</li>
<li>can be used to find which variable is most valuable for clustering</li>
<li>so, it tells us, which two columns correlate the most</li>
</ul>
<h3>how does it work?</h3>
<p>There are two ways to do PCA: 
1) The old way, which applies eigen-decomposition to the covariance matrix and 
2) The new way, which applies singular value decomposition to the raw data. This is preferred because, from a computational stand point, it is more stable.</p>
<p>Step 1: Standardization
Step 2: Covariance Matrix
is a square matrix that describes the covariance between each pair of features.
Step 3: Eigenvalue Decomposition
The covariance matrix is decomposed into its eigenvalues and eigenvectors.
Eigenvalues represent the amount of variance explained by each principal component, while eigenvectors represent the direction of the principal components.
Step 4: Principal Components
The eigenvectors are used to create the principal components, which are new features that are orthogonal to each other.
The principal components are ordered by their corresponding eigenvalues, with the first component explaining the most variance, the second component explaining the second most variance, and so on.
Step 5: Dimensionality Reduction
The original dataset is projected onto the new coordinate system defined by the principal components.
The number of principal components retained can be chosen based on the amount of variance explained by each component or the complexity of the model.</p>
<ul>
<li>find the maximum sum of squared distances</li>
<li>why not minimum? </li>
<li>
<p>linear combination of </p>
</li>
<li>
<p>maximise or minimise?</p>
</li>
<li>
<p>eigenvector, eigenvalue?</p>
</li>
</ul>
<p>NOTE 4: A lot of people ask how fitting this line is different from Linear Regression. In Linear Regression we are trying to maintain a relationship between a value on the x-axis, and the value it would predict on the y-axis. In other words, the x-axis is used to predict values on the y-axis. This is why we use the vertical distance to measure error - because that tells us how far off our prediction is for the true value. In PCA, no such relationship exists, so we minimize the perpendicular distances between the data and the line.</p>
<h2>t-SNE ("tee snee")</h2>
<h2>heatmaps</h2>
<h2>Multi-Dimensional scaling (MDS)</h2>