<h1>DP</h1>
<ul>
<li>optimal substructure</li>
<li>in our case meaning: π<em> = π</em>(s1) + π*(s2) + ...<ul>
<li>optimal policy for each state = optimal overall policy</li>
<li>so, our problem has "optimal substructure"</li>
</ul>
</li>
<li>overlapping subproblems</li>
<li>solutions to subproblems are mutually dependent<ul>
<li>eg Problema A depends on Problema B and vice versa</li>
</ul>
</li>
<li>is this given for our problem?<ul>
<li>looking at the bellman equations, yes that's the case</li>
</ul>
</li>
<li>DP also does memoization, meaning already calculated values are stored once and then looked up</li>
<li>DP turns equation into update rule for v*(s)</li>
<li>but, it needs to know state transition probabilities p(s',r|s,a) in advance and the rewards</li>
<li>so, DP needs a perfect model of the environment</li>
<li>rubic's cube is such a model, but not a maze problem</li>
<li>DP solves problems using expected values, not trial and error</li>
</ul>