<h1>polynomial regression</h1>
<p>see <a href="./linear/linear-regression.md.html">here</a></p>
<h1>support vector regression</h1>
<p>see <a href="./support-vector-regression.md.html">here</a></p>
<h1>decision tree regression</h1>
<p>see <a href="../../basics/trees/regression-tree.md.html">here</a></p>
<h1>random forest regression</h1>
<p>see <a href="../../ensemble/random-forests.md.html">here</a></p>