<h1>linear</h1>
<p><img alt="" src="./svr.png" /></p>
<p>It's a tube w/ an epsilon instead of just a line.
datapoints outside the tube are the support vectors.</p>
<h1>non linear</h1>
<p><img alt="" src="./non-lin-svr.png" /></p>
<p>Instead of a tube, it's now a hyperplane + another hyperplane above + another below.</p>
<p>Projected back to 2d the "tube" is now the yellow area.</p>