<h1>taxonomy of clustering algos</h1>
<pre><code>                  flat        hierarchical

centroid/         k-means     Ward
parametric        GMM         Complete-linkage

density/          DBSCAN      HDBSCAN
non-parametric    Mean shift
</code></pre>
<h1>k-means</h1>
<p><a href="./k-means.md.html">see here</a></p>
<h1>hierarchical clustering (Ward)</h1>
<ul>
<li>similar result as k-means</li>
<li>agglomerative (bottom up) vs divisive (top down)</li>
</ul>
<p>steps for agglomerative:</p>
<ol>
<li>make each pt a cluster</li>
<li>take two closest pts and make then 1 cluster</li>
<li>take two <strong>closest clusters</strong> and merge them</li>
<li>repeat 3 until 1 cluster left</li>
</ol>
<h2>options how to calc distance of clusters</h2>
<p>closest points, furtherst points, average distance, dist. between centroids</p>
<h2>dendrogram</h2>
<p><img alt="" src="./dendrogram.png" /></p>
<p>note: y axis shows the dis-similarity of clusters</p>
<p>easy to see how many clusters there are at a certain threshold.</p>
<h3>optimal number of clusters</h3>
<ul>
<li>look for the highest vertical distance that doesn't cross any horizontal lines</li>
</ul>
<h1>HDBSCAN</h1>
<h1>OPTICS</h1>