<h1>dbscan</h1>
<p>"density based spatial clustering of applications with noise"</p>
<ol>
<li>user selects a radius ("resolution")</li>
<li>acting as a defined vicinity for a point</li>
<li>for each point, calc how many points are within it's vicinity</li>
<li>user defines # points that have to be within a points vicinity to qualify it as a "core point"</li>
<li>randomly pick a core point and assign it to a cluster</li>
<li>all points within it's vicinity also go into the cluster, extending it</li>
<li>stop at non-core points - adding them to the cluster but not extending it anymore</li>
<li>repeat from 4 for remaining points</li>
<li>single points that constitute their own cluster constitute outliers</li>
</ol>