<h1>k-means</h1>
<p>it's an algorithm:</p>
<ol>
<li>start w/ k clusters (k=6 for example; user selects this)</li>
<li>select k points (don't know if arbitrary points in space or from samples)</li>
<li>they're called "centroids"</li>
<li>assign each sample to it's closest centroid</li>
<li>via Squared Euclidean distance which works for any dimension &gt;1</li>
<li>meaning this algo works in 2D and higher dimensions</li>
<li>calculate new centroids for each cluster based on it's members</li>
<li>repeat from 3 until cluster doesn't change anymore (ie no pts added or removed anywhere)</li>
<li>calculate mean of each cluster</li>
<li>sum(squared distances of each point to the centroid)</li>
<li>store it in a map {k, mean}</li>
<li>change k and start at 1</li>
<li>if you plot the map (x=k, y=mean) there's a bend in the line - a so called "elbow"</li>
<li>that's the optimal number for k</li>
</ol>
<p>Note: problems w/ concave/weirdly cluster shapes. for low sample sizes and low dimensions, to halfway visualize in your mind for selecting params.</p>
<h2>random initialization trap</h2>
<ul>
<li>can end up with a totally different result because initial centroids were different (random)</li>
</ul>
<p>kmeans++:</p>
<ol>
<li>choose 1st centroid randomly amongst datapoints</li>
<li>for remaining points, compute distance D to the nearest centroid</li>
<li>choose next centroid, weightet by D²</li>
</ol>