<ul>
<li>introduce a new datapoint for which it's affiliation is to be determined (to which group it belongs)</li>
<li>choose K, which is a number of neighbors (e.g. 5)</li>
<li>find the K datapoints that are closest to a newly introduced datapoint</li>
<li>e.g. by eucledian distance (or some other measure)</li>
<li>within the neighbors, count how many belong to which category</li>
<li>the new datapoint belongs to the one with the highest count</li>
<li>if it's a tie:<ul>
<li>either flip a coin</li>
<li>or classify as it's own, new category</li>
</ul>
</li>
<li>note: odd K avoids ties</li>
</ul>