<h1>logistic regression</h1>
<ul>
<li>while linear regression makes predictions, logistic regression usually determines in/out status - i.e. classification of samples</li>
<li>continuous and discrete</li>
<li>function is S shaped</li>
<li>tells you probabilities from 0 to 1</li>
<li>can be an is used for classification (i.e. &gt;50% likelihood is "yes")</li>
<li>doesn't have concept of "residual" (like linear regression), uses "maximum likelihood" instead</li>
<li>can be used to assess what variables are useful for classifying samples (see wald's test) and which are not contributing</li>
</ul>
<h1>maximum likelihood</h1>
<ul>
<li>how to find the best S shaped curve given some datapoints?</li>
<li>try a few and calc their likelihood</li>
<li>all probabilities multiplied</li>
<li>best curve is the one with the max likelihood</li>
</ul>
<p><img alt="" src="./max-likelihood.png" /></p>
<h1>wald's test</h1>