<h1>naive bayes classification</h1>
<pre><code>posterior = (prior * likelyhood) / normalizing constant
P(H|D)    = ( P(H)      P(D|H) ) / P(D)
</code></pre>
<p>D = data
H = hypothesis</p>
<p>Example</p>
<p><img alt="" src="./naive-bayes.png" /></p>
<p>grey = new point (hypothesis)</p>
<ul>
<li>P(H) = red points/total = 10/30</li>
<li>P(D) = pts similar to new point / total points = 4/30</li>
<li>P(D|H) = red points in circle / all red points = 3/10</li>
<li>
<p>P(H|D) = P(walking|D) = (10/30 * 3/10) / (4/30) = 0.75</p>
</li>
<li>
<p>do the same for P(driving|D)</p>
</li>
</ul>
<p>compare P-walking with P-driving, probability to belong to walking is bigger than the other.</p>
<h1>multinomial naive bayes classifier</h1>
<ul>
<li>"naive" because ignores order of words (bag of words)</li>
<li>eg score("Dear friend") == score("friend Dear")</li>
<li>has a high bias (ignores order) and low variance (works good in practice)</li>
</ul>
<h2>how it works</h2>
<ul>
<li>make a histogram how often each word occurs in a body of text (eg emails)</li>
<li>calc p(some-word|Normal-messages)</li>
<li>make one histogram for good messages, and one for spam messages</li>
<li>these are likelihoods (because discrete, not continuous)</li>
<li>decide if a new message is normal or spam</li>
<li>initial guess ("prior probability") p(N)</li>
<li>p(N) * p(Dear|N) * p (friend|N)</li>
<li>result is the score if it's a normal message</li>
<li>do the same things for bad messages</li>
<li>result is the score if it's spam</li>
<li>the higher score wins!</li>
</ul>
<h2>fails</h2>
<ul>
<li>if a word doesn't exist in the bad messages, it's prob is 0 and therefore misclassification is possible</li>
<li>remedy: use alpha (just a value that's added to avoid 0; eg 1)</li>
</ul>
<h1>gaussian naive bayes classification</h1>
<ul>
<li>draw the gaussian distribution for each parameter</li>
<li>similar to multinomial, but use likelihood (y coordinate to a corresponding x value, mapped via gaussian distribution)</li>
<li>eg. p(Loves) * L(popcorn=20|Loves) * L(soda=500|Loves) * L(candy=25|Loves)</li>
<li>when really small numbers occur, take <strong>log</strong> of everything <strong>to avoid underflow</strong></li>
<li>use cross validation to find which parameter to use to make the best possible classification</li>
</ul>
<p>note: "fold change" is "x fache veränderung"; log2(0) = -inf</p>