<h1>support vector machines</h1>
<h2>maximum margin classifier</h2>
<p>margin = distance between an observation and a threshold</p>
<pre><code>|----x-xx-x-x--x-------y--y-yy-y-y---|
                   ^
                   |
            max margin
</code></pre>
<p>max margin is furthest away from last x and first y.</p>
<h2>soft margin</h2>
<p>allows outliers.</p>
<p>= support vector classifier, which can be one of</p>
<p>"flat affine N-dimensional subspace"
n = 0 -&gt; point
n = 1 -&gt; line
n = 2 -&gt; plane
n &gt;2  -&gt; hyperplane (aka flat affine subspace)</p>
<p>cross validation can show, if allowing misclassifications might be better in the long run.</p>
<h2>SVM</h2>
<ol>
<li>move data into higher dimension </li>
<li>eg for 1D data, add y axis and square each datapoint</li>
<li>find a support vector classifier in the higher dimension to separate data in 2 groups</li>
</ol>
<h2>kernel function</h2>
<p>why square? why not cubed or some log?</p>
<p>kernel function raises d step by step and finds a good SVC</p>
<p>polynomial kernel: (a X b + r) ^ d</p>
<p>a,b obervations
r coefficient
d degree of polynomial</p>
<p>transform to dot-prod: (a,a²,1/2) * (b,b², 1/2)</p>
<h2>radial kernel (RBF)</h2>
<p>calc the relationship between two observations in infinite dimensions.</p>
<p>behaves like a "weighted nearest neighbor" model.</p>
<p>Taylor series expansion...</p>
<h2>other kernel types</h2>
<ul>
<li>sigmoid (mostly for NNs)</li>
<li>custom (domain knowledge)</li>
</ul>
<h2>kernel trick</h2>
<p>don't transform actual data in higher dim, just calc the relationship</p>
<h2>non-linear kernel SVR</h2>
<p>see <a href="../regression/support-vector-regression.md.html#non-linear">here</a></p>