<h1>bias/variance tradeoff</h1>
<ul>
<li>bias = how bad does it fit to the data (lower is better but could be overfit)</li>
<li>variance = how similar are the sum-of-squares for test datasets vs training datasets (lower is better, high could be underfit)</li>
<li>might fit training set very well but not test set</li>
<li>different sum of squares between training and test DS means variability is high</li>
<li>finding sweet spot: regularization, boosting, bagging</li>
</ul>