<h1>bootstrapping</h1>
<p>tells us what might happen if experiment is repeated many times over.</p>
<ul>
<li>given: numberline with N number</li>
<li>A: create new numberline</li>
<li>select N measurements randomly from original numberline</li>
<li>"sampling with replacement", allow to pick the same number multiple times</li>
<li>calc the mean of bootstrapped dataset</li>
<li>keep track of the calculation in a histogram</li>
<li>repeat from A a bunch of times (eg 1000 times)</li>
<li>
<p>you can calc' sth else too, eg. median, std deviation, etc.</p>
</li>
<li>
<p>a 95% confidence interval is an interval which covers 95% of the bootstrapped means (which are available in the histogram)</p>
</li>
</ul>