<h1>normal or bell or gaussian curve or distribution</h1>
<p>imagine a graph where x axis = height, y axis = likelihood</p>
<p>std deviation is the width of the curve.
95% of measurements are between -2 and +2 std deviations around the mean.</p>
<p>There many other distribs: uniform distribution (just a line) exponential distribution etc.</p>
<p>why is it found in nature so often? -&gt; "central limit theorem"</p>
<h1>calc std deviation of a sample, variance</h1>
<p>input = [10,3,6,1], n=4 (lengh of array)</p>
<ol>
<li>avg = 20/4 = 5</li>
<li>distances from avg = [5,-2,1,-4]</li>
<li>squared = [25,4,1,16]</li>
<li>sum of squared = 46</li>
<li>46 / (n-1) = 46 / 3 = 15.3 = VARIANCE</li>
<li>sqrt(VARIANCE) = STD DEVIATION = 3.916
    VARIANCE = STD-DEV ²</li>
</ol>
<p>std dev tells you how much the data is scattered around the mean.</p>
<h2>central limit theorem</h2>
<p>the <strong>means</strong> of any distribution are normally distributed.
sample size must be &gt;=30.</p>
<h2>used for...</h2>
<ul>
<li>confidence intervals</li>
<li>t test (is there a diff of means-distribution between two sets of samples ("sample mean"))</li>
<li>anova test (3 or more sets of samples)</li>
</ul>
<p>note: in practice, distributions without mean is very seldom.</p>
<h1>std error vs std deviation</h1>
<p>you take a bunch of samples from some data
you do this, let's say 5 times
std variation is the variation within one set of samples
you take the mean of each of those 5 sets of samples
you now got 5 means
plot the means on a graph
you take the mean of those means
the "std error" is the std deviation of those means</p>
<p>note: std error is already available from 1 set of measurements</p>