<h1>accuracy and error rates</h1>
<pre><code>                   PRED
               +         -

ACTUAL  -  True Neg  False Pos
        +  Fals Neg  True Pos
</code></pre>
<ul>
<li>False Pos = type I Error</li>
<li>False Neg = Type II Error (worse)</li>
<li>Accuracy = Correct / Total = (TN+TP)/total in %</li>
<li>Error rate = Incorrect / Totoal = (FP+FN)/total in %</li>
<li>Note: confusion matrix can be arranged in 4 different ways</li>
</ul>
<h1>accuracy paradox</h1>
<ul>
<li>you could end up with a higher AR when completely abandoning one part of a binary decision</li>
</ul>
<h1>cumlative accuracy profile (CAP) / gain chart</h1>
<ul>
<li>for comparing models</li>
</ul>
<p><img alt="" src="./gain-chart.png" /></p>
<ul>
<li>red = random</li>
<li>below red = even worse case</li>
<li>blue = poor model</li>
<li>green = theoretically ideal</li>
<li>don't confuse w/ ROC = Receiver Operating Characteristic</li>
</ul>
<h2>calc</h2>
<ul>
<li>area under good model / area under perfect line = AR</li>
<li>rule of thumb - what's the Y value @ 50% X ?</li>
<li>&lt; 60% rubbish</li>
<li>60 to 70  poor</li>
<li>70 to 80  good</li>
<li>80 to 90  very good</li>
<li>over 90   too good  <ul>
<li>one independent variable is post-factum, looking in the future</li>
<li>or overfitting</li>
</ul>
</li>
</ul>
<h1>see also</h1>
<ul>
<li><a href="./sensitivity-specificity.md.html">sensitivity and specificity</a></li>
<li><a href="./roc-auc.md.html">ROC and AUC</a></li>
</ul>