<h1>cross validation</h1>
<ul>
<li>for low data volume</li>
<li>split dataset in N parts of the same size, called "folds"</li>
<li>then create multiple models by running different training data on them for each model</li>
</ul>
<p>for instance, 3 fold:</p>
<pre><code>model1:  [fold1]  fold2   fold3
model2:   fold1  [fold2]  fold3
model3:   fold1   fold2  [fold3]
</code></pre>
<p>the [] means it's a testing fold, all others are training folds</p>
<ul>
<li>then average the total of models </li>
<li>cross-validation models are not meant for predictions</li>
<li>this is only for model validation, not for model building</li>
</ul>