<h1>missing data</h1>
<p>replace empty data by the mean of the rest of the rows in the same column.</p>
<h1>splitting in training and testing set</h1>
<p>80:20</p>
<h1>feature scaling</h1>
<p>See about multicollinearity <a href="../supervised/regression/linear/linear-regression.md.html#when-to-use-it">here</a></p>