<h1>two ways for feature scaling</h1>
<h2>standardisation</h2>
<p>Xstd = (x-mean(x)) / std-deviation(x)</p>
<h2>normalisation</h2>
<p>Xnorm = (x - min(x) ) / max(x) - min(x)</p>
<h1>dealing with categorical data</h1>
<h2>dummy variables</h2>
<p>example:</p>
<pre><code>given: 1 col "state" with 2 states, "new york" or "california"

solution:
create one col for each state:


state         new york  california
new york        1
california                1
california                1
new york        1
new york        1
california                1
</code></pre>
<p>don't use california column at all, because no info is lost in just using new york column - in fact this would lead to multicollinearity (see <a href="../../../basics/feature-scaling.md.html#what-to-do with categorial variables/features?&quot;">See here</a> ).</p>
<h2>encoding categorical data</h2>
<p>same as above, but just replace "new york" with 1 and "california" with 2 in the "state" column - no extra columns needed.</p>
<p>See also: <a href="./data-preparation.md.html">feature scaling</a></p>