<h1>Statistical hypothesis test</h1>
<p>Decide whether the data sufficiently support a particular hypothesis.
I.e. if something is statistically relevant or just noise.</p>
<p>reject or "fail to reject" a hypothesis (overfitted data).</p>
<h1>null hypothesis</h1>
<ul>
<li>claim: there is no coincidence/relationship between two parameters/variables.</li>
<li>doesn't need data</li>
</ul>
<h1>alternative hypothesis</h1>
<ul>
<li>claim: there is a difference</li>
</ul>
<h1>fisher's exact test</h1>