<h1>p-value (statistical significance)</h1>
<ul>
<li>probability of an observed (or more extreme) result assuming that the null hypothesis holds.</li>
<li>used for small datasets in place of bayesian</li>
</ul>