<h1>probability vs likelihood</h1>
<h2>probability</h2>
<p>pr( weight between 32 and 34 grams | mean=32 and std deviation = 2.5) = 0.3</p>
<p>probability of weighing a mouse between 32 and 34 grams, given mean, std dev.... is 0.3</p>
<p>distribution is the curve, described on the right side and the area described on the left side of the eqation.</p>
<p>probability is area under the curve (eb normal distribution).</p>
<h2>likelihood</h2>
<p>assume a mouse has been weighted.</p>
<p>e.g. 32g.</p>
<p>the probability of wheighing a 32g mouse is the y-axis value of the point of the curve.</p>
<p>L(mean=32 and std dev 2.5 | maus weighs 34gram) = 0.042</p>
<p>right side is fixed.
modify shape and location w/ left side.</p>
<p>"likelihood of a distribution given the data"</p>