<h1>R squared</h1>
<pre><code>R² = 1 - (SSres/SStot)
</code></pre>
<ul>
<li>SSres = sum of squares of regression line</li>
<li>SStot = sum of squares of average line</li>
</ul>
<p><a href="../supervised/regression/linear/linear-regression.md.html">See also</a></p>
<ul>
<li>1.0 perfect (suspicious)</li>
<li>~0.9 very good</li>
<li>&lt;0.7 not great</li>
<li>&lt;0.4 terrible</li>
<li>&lt;0 model makes no sense for this data</li>
</ul>
<h1>adjusted R squared</h1>
<p>goodness of fit (bigger is better)</p>