<p>See also <a href="./sensitivity-specificity.md.html">sensitivity and specificity</a></p>
<h1>ROC</h1>
<ul>
<li>for making decisions about thresholds</li>
<li>given: logistic regression</li>
<li>question: which threshold is best</li>
<li>try out different thresholds</li>
<li><a href="./confusion-matrix.md.html">confusion matrix</a> for each threshold</li>
<li>calc true pos rate and</li>
<li>false pos rate = (1-specificity) = false pos / (false pos + true neg)</li>
<li>plot on 2d graph: x=false pos rate, y=true pos rate</li>
<li>so, the ROC graph summarizes all of the confusion matrices that each threshold produced</li>
<li>note that false pos rate is NOT precision</li>
<li>precision = true pos / (true pos + false pos)</li>
</ul>
<h1>AUC</h1>
<ul>
<li>"area under curve"</li>
<li>one value for comparing different ROC curves</li>
<li>bigger AUC = better</li>
</ul>