<h1>rows</h1>
<h2>population vs sample</h2>
<ul>
<li>population = N = all the data<ul>
<li>numbers are "parameters"</li>
</ul>
</li>
<li>sample = n = subset of N<ul>
<li>numbers are "statistics"</li>
</ul>
</li>
<li>
<p>observation = 1 row</p>
</li>
<li>
<p>populations are often hard to obtain in their entirety</p>
</li>
<li>samples should be random and representative</li>
</ul>
<h1>columns</h1>
<h2>feature vs dependent variable</h2>
<ul>
<li>features = variables = columns of a table</li>
<li>optional column: dependent variable or result (for predictions in supervised learning)</li>
</ul>