<p>regarding a confusion matrix,</p>
<ul>
<li>sensitivity = true pos / (true pos + false neg) = true pos rate</li>
<li>specificity = true neg / (true neg + false pos)</li>
</ul>
<p>sens = percentage of correctly identified positives
spec = percentage of correctly identified negatives</p>
<p>higher is better for both.</p>