<h1>elements of a "control task"</h1>
<ul>
<li>state(St)<ul>
<li>all relevant info about the situation of the task environment</li>
</ul>
</li>
<li>action(At)<ul>
<li>manipulations an agent can do on itself (?and the evironment?)</li>
</ul>
</li>
<li>reward(Rt)<ul>
<li>pos and neg value</li>
</ul>
</li>
<li>the agent</li>
<li>the environment<ul>
<li>all aspects of the task, the agent can't control 100%</li>
</ul>
</li>
</ul>