<h1>Markov decision process (MDP)</h1>
<pre><code>(A) discrete-time (B) stochastic (C) control process
</code></pre>
<ul>
<li>A: time moves fwd in finite intervals</li>
<li>B: future states depend only partially on actions taken</li>
<li>C: is based on decision making</li>
</ul>
<p>bla</p>
<pre><code>(S,A,R,P)
</code></pre>
<ul>
<li>S = set of possible states,</li>
<li>A = set of actions, </li>
<li>R = set of rewards, </li>
<li>P = probabilities of passing from one state to another when taking each possible action</li>
</ul>
<h2>important property of "Markov process"</h2>
<ul>
<li>Process has no memory.</li>
<li>
<p>meaning, next state depends only on current state, not on previous states</p>
<p>P[St+1|St=st] = P[St+1|St=st,St-1=st-1,...,S0=s0]</p>
</li>
</ul>
<h2>difference to Markov chain</h2>
<ul>
<li>Decision process adds actions and rewards</li>
</ul>
<h2>finite vs infinite</h2>
<ul>
<li>finite: # states, # actions, # rewards are finite</li>
<li>infinite: one of the above three is infinite<ul>
<li>example: continuous values e.g. car speed</li>
</ul>
</li>
</ul>
<h2>episodic vs continuing</h2>
<p>episodic ends some time, eg chess game</p>
<h2>detail</h2>
<p><img alt="illustration" src="./mdp.png" /></p>
<p>In this process, the agent interacts with the environment.</p>
<p>At the start of the task, the agent observes the initial state of the task and based on it, it takes an action.</p>
<p>This action produces an effect on the environment which modifies its state.</p>
<p>As a result, the agent observes again the new state in which the task finds itself and receives a reward from the environment, which gives feedback on the effect that the previous action had on the environment.</p>
<p>Then, based on the new state, the agent takes another action and the cycle repeats itself until the task ends, either because the agent has achieved the goal of the task or because it has failed for some reason.</p>