<h1>trajectory and episode</h1>
<p>sequence of elements generated when agent goes through states</p>
<pre><code>tau = S0,A0, R1,S1,A1, R2,S2,A2, ...
</code></pre>
<p>episode is a trajectory from initial to terminal state (of some given task)</p>
<h1>reward and return</h1>
<ul>
<li>reward represents task goals<ul>
<li>Rt = immediate result</li>
</ul>
</li>
<li>wanted: max(sum of rewards); max an episode's return<ul>
<li>short term reward can worsen long term results</li>
</ul>
</li>
</ul>
<p>return: </p>
<pre><code>Gt = Rt+1 + Rt+2 + Rt+3 + ...
</code></pre>
<h1>discount factor</h1>
<pre><code>G0 = R1 + γR2 + γ²R3 + γ³R4 + ...
</code></pre>
<ul>
<li>γ is between 0 and 1</li>
<li>if γ=0, only R1 is relevant<ul>
<li>an extreme: ony short term reward matters</li>
</ul>
</li>
<li>γ=1<ul>
<li>more patience to formulate a long term strategy</li>
</ul>
</li>
<li>default γ=0.99</li>
<li>γ measures how far an agent has to look into the future for planning it's actions</li>
</ul>
<p>goal of control task: <strong>maximise the long-term sum of discounted rewards</strong></p>
<p>Note the difference between Gt and G0.</p>