<h1>policy</h1>
<p>it's a fuction mapping state to action</p>
<pre><code>π: S -&gt; A
</code></pre>
<h2>two possible expressions</h2>
<p>probability of action in a given state</p>
<pre><code>π(a|s)
</code></pre>
<p>action in state s</p>
<pre><code>π(s)
</code></pre>
<h2>stochastic vs deterministic policies</h2>
<pre><code>deterministic: π(s) -&gt; a
stochastic: π(s) = [p(a1),p(a2),...]
</code></pre>
<h2>goal</h2>
<p>maximise the sum of discounted rewards.</p>
<p>in other words: find the optimal policy π*</p>
<p>The policy that maximises the sum of discounted rewards in the long run.</p>
<h1>value of a state</h1>
<p>different policies lead to different actions and different returns.</p>
<pre><code>    vπ(s) = E[Gt|St=s]
</code></pre>
<p>q value of an action in a state is the return Gt, when started in state s, taking action a and interact w/ the environment following policy π until the end of an episode.</p>
<pre><code>qπ(s,a) = E[Gt|St=s,At=a]
</code></pre>
<p>q values simplify search for optimal policy in many algorithms.</p>
<h1>on policy vs off policy</h1>