<h1>bellman equation for v(s)</h1>
<pre><code>vπ(s) 
= E [Gt|St=s] 
= E [Rt+1 + γRt+2 + ...|St=s]
= E [Rt+1 + γGt+1 + ...|St=s] 
= SUM(π(a|s)) * SUM(p(s,r|s,a)[r+γvπ(ś)])
</code></pre>
<p>probability of taking each action following that policy * expected return from taking that action.
That return is a probability of reaching each possible goal * the reward of reaching that state + discounted value of that state.</p>
<p>Note: this is a recursion between the val. of one state vπ(s) and values of other states.</p>
<h1>bellman equation for q(s,a)</h1>
<p><img alt="bellman" src="./bellman.png" /></p>
<h1>bellman optimality equations</h1>
<p><img alt="bellmanopt" src="./bellmanopt.png" /></p>