<h1>value iteration</h1>
<ul>
<li>optimal policy = in each state takes action which maximises the return</li>
<li>to compute return, must know the optimal value of following states</li>
<li>
<p>estimation by iteration</p>
<p>π<em>(s) = arg max sum( p(s',r|s,a)[r+γv</em>(s')] )</p>
</li>
<li>
<p>to find: v* (best value)</p>
</li>
<li>note: the environment has to be deterministic</li>
<li>create table of estimates</li>
<li>initial population w/ 0</li>
<li>1st iteration all will be -1 (except goal, it's 0)</li>
<li>when changes are smaller than some epsilon, stop iteration</li>
</ul>