<h1>random forests</h1>
<ul>
<li>create bootstrapped dataset, which is a subset of the original dataset - by choosing K random datapoints</li>
<li>build a decision tree</li>
<li>repeat the above N times to get N decision trees, for instance <a href="../regression-tree.md.html">a regression tree</a></li>
<li>predict using the average of each N decision tree's prediction</li>
<li>it's a bit like like crowdsourcing, i.e. the prediction of avg(many) is better than that of one expert</li>
<li>majority vote</li>
</ul>