<h1>monte carlo</h1>
<ul>
<li>family of methods learning based on samples</li>
<li>agent goes through an episode w/ a certain policy π</li>
<li>takes a "trace"</li>
<li>compute return from every visited state Gt</li>
<li>value of state = expected return following a certain policy</li>
<li>averageing all estimated returns</li>
<li>same thing w/ q values:</li>
<li>Qπ(s,a) = average after a specific action</li>
</ul>
<h1>ley de los grandes números</h1>
<p>mehr ist besser!</p>
<h1>contrast to DP</h1>
<ul>
<li>DP sweeps through complete state space, incl. states which do NOT lead to the goal</li>
<li>exponential complexity</li>
<li>monte carlo does not</li>
<li>doesn't need a complete model of the environment</li>
</ul>